opacity(val)
    opacity: val
    filter: unquote('alpha(opacity='+ round(val*100)+')')
box-sizing()
    vendor('box-sizing',arguments) 

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
    vendor('border-radius',arguments)    

box-shadow()
    vendor('box-shadow',arguments)    

stripe(even = #fff, odd = #eee)
    tr
        background-color odd
    &.even
    &:nth-child(even)
        background-color even

inline-list()
    li
        display inline
comma-list()
    inline-list()
    li
        &:after
            content: ","
        &:last-child:after
            content: ""
     